run/coupling.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
  targetNamespace="http://www.w3schools.com"
  xmlns="http://www.w3schools.com"
  elementFormDefault="qualified">
  
<xs:element name="coupling">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="redirect" type="redirect_type" minOccurs="0" maxOccurs="1" />
      <xs:element name="components" type="components_type" minOccurs="1" maxOccurs="1" />
      <xs:element name="transients" type="transients_type" minOccurs="1" maxOccurs="1" />
      <xs:element name="grids" type="grids_type" minOccurs="1" maxOccurs="1" />
      <xs:element name="dates" type="dates_type" minOccurs="1" maxOccurs="1" />
      <xs:element name="timestep_unit" type="timestep_unit_type" minOccurs="1" maxOccurs="1" />
      <xs:element name="couples" type="couples_type" minOccurs="1" maxOccurs="1" />
      <xs:element name="created" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!-- keys and keyrefs --> <!-- TODO -->
  
  <xs:key name="ComponentKey">
  	<xs:selector xpath="components/component"/>
    <xs:field xpath="@id"/>
  </xs:key>
  <xs:key name="TransientKey">
  	<xs:selector xpath="transients/transient"/>
    <xs:field xpath="@id"/>
  </xs:key>
  <xs:key name="GridKey">
  	<xs:selector xpath="grids/grid"/>
    <xs:field xpath="@id"/>
  </xs:key>
  
  <xs:keyref name="TransientKeyRef" refer="TransientKey">
    <xs:selector xpath="components/component/transients/transient"/>
    <xs:field xpath="@id_ref"/>
  </xs:keyref>
  <xs:keyref name="GridKeyRef" refer="GridKey">
    <xs:selector xpath="components/component/transients/transient"/>
    <xs:field xpath="@uses_grid"/>
  </xs:keyref>
  <xs:keyref name="Component1KeyRef" refer="ComponentKey">
	<xs:selector xpath="couples/couple/component1"/>
    <xs:field xpath="@component_id"/>
  </xs:keyref>
  <xs:keyref name="Component2KeyRef" refer="ComponentKey">
	<xs:selector xpath="couples/couple/component2"/>
    <xs:field xpath="@component_id"/>
  </xs:keyref>
  <xs:keyref name="CoupleTransientKeyRef" refer="TransientKey">
  	<xs:selector xpath="couples/couple/transient_couple"/>
    <xs:field xpath="@transient_id"/>
  </xs:keyref>
  <xs:keyref name="SourceComponentKeyRef" refer="ComponentKey">
  	<xs:selector xpath="couples/couple/transient_couple/source"/>
    <xs:field xpath="@component_ref"/>
  </xs:keyref>
  <xs:keyref name="TargetComponentKeyRef" refer="ComponentKey">
  	<xs:selector xpath="couples/couple/transient_couple/target"/>
    <xs:field xpath="@component_ref"/>
  </xs:keyref>
  
</xs:element>

<!-- redirect stdout and stderr -->

<xs:complexType name="redirect_type">
  <xs:attribute name="redirect_stdout" type="xs:boolean" use="optional"/>
  <xs:attribute name="redirect_of_root" type="xs:boolean" use="optional"/>
</xs:complexType>

<!-- components -->

<xs:complexType name="components_type">
  <xs:sequence>
    <xs:element name="component" minOccurs="2" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="model" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="simulated" type="xs:string" minOccurs="1" maxOccurs="1" />
          <xs:element name="transient_grid_refs" minOccurs="1" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="transient_grid_ref" type="transient_grid_ref_type" 
                    minOccurs="1" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required" />
      </xs:complexType>
    </xs:element> 
  </xs:sequence>
</xs:complexType>

<xs:complexType name="transient_grid_ref_type">
  <xs:attribute name="id" type="xs:positiveInteger" use="required" />
  <xs:attribute name="transient_ref" type="xs:positiveInteger" use="required" />
  <xs:attribute name="grid_ref" type="xs:positiveInteger" use="required" />
  <xs:attribute name="collection_size" type="xs:positiveInteger" use="required" />
</xs:complexType>

<!-- transients -->

<xs:complexType name="transients_type">
  <xs:sequence>
    <xs:element name="transient" minOccurs="1" maxOccurs="unbounded">
      <xs:complexType>
        <xs:attribute name="id" type="xs:positiveInteger" use="required" />
        <!-- TODO: restriction? -->
        <xs:attribute name="transient_standard_name" type="xs:string" />
      </xs:complexType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- grids -->

<xs:complexType name="grids_type">
  <xs:sequence>
    <xs:element name="grid" minOccurs="1" maxOccurs="unbounded">
      <xs:complexType>
        <xs:attribute name="id" type="xs:positiveInteger" use="required" />
        <xs:attribute name="alias_name" type="xs:string" use="required" />
      </xs:complexType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- dates -->

<xs:complexType name="dates_type">
  <xs:sequence>
    <xs:element name="start_date" type="xs:string"
    	minOccurs="1" maxOccurs="1" />
    <xs:element name="end_date" type="xs:string"
    	minOccurs="1" maxOccurs="1" />
    <xs:element name="calendar" minOccurs="1" maxOccurs="1">
      <xs:simpleType>
    	<xs:restriction base="xs:string">
    	  <xs:enumeration value="proleptic-gregorian"/>
    	  <xs:enumeration value="360d"/>
    	  <xs:enumeration value="365d"/>
    	</xs:restriction>	
      </xs:simpleType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- couples -->

<xs:complexType name="couples_type">
  <xs:sequence>
    <xs:element name="couple" 
      	minOccurs="0" maxOccurs="unbounded">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="component1" type="component_type" 
      	    	minOccurs="1" maxOccurs="1" />
      	  <xs:element name="component2" type="component_type" 
      	    	minOccurs="1" maxOccurs="1" />
          <xs:element name="transient_couple" type="transient_couple_type"
            	minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<xs:complexType name="component_type">
  <xs:attribute name="component_id" type="xs:positiveInteger" use="required" />
</xs:complexType>

<xs:complexType name="transient_couple_type">
  <xs:sequence>
    <xs:element name="source" type="source_type" 
    	minOccurs="1" maxOccurs="1" />
    <xs:element name="target" type="target_type" 
    	minOccurs="1" maxOccurs="1" />
    <xs:element name="timestep" type="timestep_type"
    	minOccurs="1" maxOccurs="1" />
    <xs:element name="interpolation_requirements" type="interpolation_type" 
    	minOccurs="1" maxOccurs="1" />
    <xs:element name="debug_mode" type="debug_mode_type"
    	minOccurs="0" maxOccurs="1" />
    <xs:element name="enforce_write_restart" type="xs:boolean"
    	minOccurs="0" maxOccurs="1" />
    <xs:element name="enforce_write_weight_file" type="write_weight_file_type"
    	minOccurs="1" maxOccurs="1" />
  </xs:sequence>
  <xs:attribute name="transient_id" type="xs:positiveInteger" use="required" />
</xs:complexType>

<xs:complexType name="write_weight_file_type">
  <xs:simpleContent>
    <xs:extension base="xs:boolean">
      <xs:attribute name="filename" type="xs:string" use="optional">
      </xs:attribute>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<xs:complexType name="source_type">
  <xs:attribute name="component_ref" type="component_local_id_type" use="required" />
  <xs:attribute name="transient_grid_ref" type="xs:positiveInteger" use="required" />
</xs:complexType>

<xs:complexType name="target_type">
  <xs:attribute name="component_ref" type="component_local_id_type" use="optional" />
  <xs:attribute name="transient_grid_ref" type="xs:positiveInteger" use="required" />
</xs:complexType>

<xs:complexType name="timestep_type">
  <xs:sequence>
    <xs:element name="source" type="xs:string" minOccurs="1" maxOccurs="1" />
    <xs:element name="target" type="xs:string" minOccurs="1" maxOccurs="1" />
    <xs:element name="coupling_period" type="time_type" minOccurs="1" maxOccurs="1" />
    <xs:element name="source_timelag" type="xs:string" minOccurs="1" maxOccurs="1" />
    <xs:element name="target_timelag" type="xs:string" minOccurs="1" maxOccurs="1" />
  </xs:sequence>
</xs:complexType>

<xs:complexType name="interpolation_type">
  <xs:sequence>
    <xs:element name="interpolation" minOccurs="1" maxOccurs="unbounded">
      <xs:complexType>
        <xs:attribute name="method" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="undefined"/>
              <xs:enumeration value="average"/>
              <xs:enumeration value="n-nearest_neighbor"/>
              <xs:enumeration value="conservative"/>
              <xs:enumeration value="patch_recovery"/>
              <xs:enumeration value="source_to_target_map"/>
              <xs:enumeration value="smooth_patch_recovery"/>
              <xs:enumeration value="fixed_value"/>
              <xs:enumeration value="user_file"/>
              <xs:enumeration value="check"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="mask_handling" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="none" />
              <xs:enumeration value="partial_average" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="n" type="xs:positiveInteger" use="optional" />
        <xs:attribute name="weighted" use="optional" >
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="DISTANCE_WEIGHTED" />
              <xs:enumeration value="ARITHMETIC_AVERAGE" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="enforced_conservation" type="xs:boolean" use="optional" />
        <xs:attribute name="partial_coverage" type="xs:boolean" use="optional" />
        <xs:attribute name="normalisation" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="DESTAREA" />
              <xs:enumeration value="FRACAREA" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="polynomial_order" type="xs:nonNegativeInteger" use="optional" />
        <xs:attribute name="gauss_order" type="xs:positiveInteger" use="optional" />
        <xs:attribute name="corner_weight" type="xs:double" use="optional" />
        <xs:attribute name="extend_source_patch" type="xs:boolean" use="optional" />
        <xs:attribute name="allow_extrapolation" type="xs:boolean" use="optional" />
        <xs:attribute name="user_value" type="xs:double" use="optional" />
        <xs:attribute name="constructor_key" type="xs:string" use="optional" />
        <xs:attribute name="do_search_key" type="xs:string" use="optional" />
        <xs:attribute name="filename" type="xs:string" use="optional" />
        <xs:attribute name="yac_location" use="optional">
        <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="CELL" />
              <xs:enumeration value="EDGE" />
              <xs:enumeration value="CORNER" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:complexType>
    </xs:element>
  </xs:sequence>
  <xs:attribute name="use_source_mask" type="xs:boolean" use="required" />
  <xs:attribute name="use_target_mask" type="xs:boolean" use="required" />
</xs:complexType>

<xs:simpleType name="component_local_id_type">
  <xs:restriction base="xs:integer">
    <xs:minInclusive value="1"/>
    <xs:maxInclusive value="2"/>
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="debug_mode_type">
  <xs:attribute name="at_source_before_interpolation" type="xs:boolean" use="optional" />
  <xs:attribute name="at_source_after_interpolation" type="xs:boolean" use="optional" />
  <xs:attribute name="at_target" type="xs:boolean" use="optional" />
</xs:complexType>

<!-- global -->

<xs:complexType name="time_type">
  <xs:simpleContent>
    <xs:extension base="xs:string">
      <xs:attribute name="operation" type="operation_type" use="required" />
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<xs:simpleType name="operation_type">
  <xs:restriction base="xs:string">
    <xs:enumeration value="accumulate"/>
    <xs:enumeration value="average"/>
    <xs:enumeration value="none"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="timestep_unit_type">
  <xs:restriction base="xs:string">
    <xs:enumeration value="millisecond"/>
    <xs:enumeration value="second"/>
    <xs:enumeration value="minute"/>
    <xs:enumeration value="hour"/>
    <xs:enumeration value="day"/>
    <xs:enumeration value="month"/>
    <xs:enumeration value="year"/>
    <xs:enumeration value="ISO_format"/>
    <xs:enumeration value="string"/>
  </xs:restriction>
</xs:simpleType>
  
</xs:schema>
